.container {
    padding: 20px;
}

.item {
    margin: 10px 0;
    padding: 10px;
    background-color: #61dafb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    transition: all 3000ms ease-in-out;
}

.file-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.file-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 3s ease; /* Переход активируется сразу */
}

.file-exit {
    opacity: 1;
    transform: translateY(0);
}

.file-exit-active {
    opacity: 0;
    transform: translateY(50%);
    transition: all 3s ease;
}
